* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2013_316 {
  width: 430px;
  height: 932px;
  background: rgba(6,7,6,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v2013_350 {
  width: 410px;
  height: 387px;
  background: rgba(13,10,6,0.9800000190734863);
  opacity: 1;
  position: absolute;
  top: 536px;
  left: 10px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2013_352 {
  width: 330px;
  height: 36px;
  background: rgba(0,0,0,0.44999998807907104);
  opacity: 1;
  position: absolute;
  top: 879px;
  left: 20px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2013_353 {
  width: 260px;
  color: rgba(143,118,80,1);
  position: absolute;
  top: 888px;
  left: 32px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v2013_354 {
  width: 43px;
  height: 41px;
  background: url("../images/v2013_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 876px;
  left: 366px;
  overflow: hidden;
}
.v2013_355 {
  width: 86px;
  height: 25px;
  background: rgba(28,22,15,1);
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 20px;
  border: 1px solid rgba(214,168,74,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2013_356 {
  width: 86px;
  color: rgba(214,168,74,1);
  position: absolute;
  top: 585px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v2013_357 {
  width: 86px;
  height: 25px;
  background: rgba(13,10,6,1);
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 122px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2013_358 {
  width: 86px;
  color: rgba(143,118,80,1);
  position: absolute;
  top: 585px;
  left: 122px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v2013_359 {
  width: 86px;
  height: 25px;
  background: rgba(13,10,6,1);
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 223px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2013_360 {
  width: 86px;
  color: rgba(143,118,80,1);
  position: absolute;
  top: 585px;
  left: 223px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v2013_361 {
  width: 86px;
  height: 25px;
  background: rgba(13,10,6,1);
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 326px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2013_362 {
  width: 86px;
  color: rgba(143,118,80,1);
  position: absolute;
  top: 585px;
  left: 326px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v2013_363 {
  width: 320px;
  color: rgba(216,193,138,1);
  position: absolute;
  top: 849px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2013_364 {
  width: 78px;
  height: 4px;
  background: rgba(154,117,32,0.44999998807907104);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 176px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2013_366 {
  width: 418px;
  height: 66px;
  background: rgba(13,10,6,0.9599999785423279);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 6px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2013_367 {
  width: 46px;
  height: 46px;
  background: rgba(28,22,15,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 17px;
  border-radius: 50%;
}
.v2013_368 {
  width: 120px;
  color: rgba(63,157,88,1);
  position: absolute;
  top: 12px;
  left: 74px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2013_369 {
  width: 177px;
  height: 10px;
  background: rgba(28,22,15,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 70px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v2013_370 {
  width: 154px;
  height: 8px;
  background: rgba(198,83,53,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 71px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2013_371 {
  width: 88px;
  color: rgba(216,193,138,1);
  position: absolute;
  top: 35px;
  left: 74px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v2013_372 {
  width: 177px;
  height: 10px;
  background: rgba(28,22,15,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 70px;
  border: 1px solid rgba(154,117,32,1);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v2013_373 {
  width: 67px;
  height: 8px;
  background: rgba(59,121,168,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 71px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2013_374 {
  width: 35px;
  color: rgba(216,193,138,1);
  position: absolute;
  top: 48px;
  left: 74px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v2013_375 {
  width: 135px;
  color: rgba(214,168,74,1);
  position: absolute;
  top: 12px;
  left: 295px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2013_376 {
  width: 66px;
  color: rgba(143,118,80,1);
  position: absolute;
  top: 34px;
  left: 294px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2013_377 {
  width: 20px;
  height: 20px;
  background: rgba(19,15,10,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 189px;
  border: 1px solid rgba(63,157,88,1);
}
.v2013_378 {
  width: 10px;
  color: rgba(63,157,88,1);
  position: absolute;
  top: 13px;
  left: 194px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v2013_379 {
  width: 20px;
  height: 20px;
  background: rgba(19,15,10,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 210px;
  border-radius: 50%;
}
.v2013_380 {
  width: 18px;
  color: rgba(198,83,53,1);
  position: absolute;
  top: 13px;
  left: 211px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v2013_381 {
  width: 20px;
  height: 20px;
  background: rgba(19,15,10,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 231px;
  border-radius: 50%;
}
.v2013_382 {
  width: 19px;
  color: rgba(125,78,166,1);
  position: absolute;
  top: 13px;
  left: 232px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v2013_383 {
  width: 418px;
  height: 11px;
  background: rgba(0,0,0,0.550000011920929);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 6px;
  border: 1px solid rgba(154,117,32,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v2013_384 {
  width: 263px;
  height: 9px;
  background: rgba(214,168,74,0.949999988079071);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2013_385 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v2013_387 {
  width: 40px;
  height: 25px;
  background: url("../images/v2013_387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 25px;
  overflow: hidden;
}
.v2013_388 {
  width: 40px;
  height: 25px;
  background: url("../images/v2013_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 322px;
  overflow: hidden;
}
.v2013_389 {
  width: 40px;
  height: 25px;
  background: url("../images/v2013_389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 372px;
  overflow: hidden;
}
.v2013_392 {
  width: 429px;
  height: 460px;
  background: url("../images/v2013_392.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 1px;
  overflow: hidden;
}
